{% extends 'base.html' %}
{% block title %}
    Admin Dashboard
{% endblock %}
{% block content %}
<center>
    <h1>Users -</h1>
    {% for user in users %}
        {% if user.username == 'XINO' %}
        {% else %}
        <h3>{{user.username}} | {{user.email}} <a href="/edit_user/{{user.id}}">Edit user</a> <a href="/delete_user/{{user.id}}">Delete user</a></h3>
        {% endif %}
        
    {% endfor %}
    <a href="/reg" class="btn btn-primary mt-2">Add user    </a>
    <hr>
    <h1>Products - </h1>
    {% for product in products %}
        <h3>picture: {{product.image}} {{product.name}} | ${{product.price}} <a href="/review/{{product.id}}">Reviews</a> <a href="/edit_product/{{product.id}}">Edit product</a> <a href="/delete_product/{{product.id}}">Delete product</a></h3>
    {% endfor %}
    <a href="/add_product" class="btn btn-primary mt-2">Add product</a>
</center>
{% endblock %}