{% extends 'base.html' %}
{% block title %}
    {{current_user.username}}
{% endblock %}
{% block content %}
<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <form method="post" action="/profile" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                        {{form.csrf_token}}
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" width="200" height="200" src="/static/users/{{current_user.image}}" alt="">
                    <!-- Profile picture help block-->
                    <!-- Profile picture upload button-->
                    {{form.image(class='form-control mt-2')}}
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                        
                        <!-- Form Group (username)-->
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Change your username (currently {{current_user.username}})</label>
                                {{form.username(class='form-control')}}
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <!-- <div class="row gx-3 mb-3">
                             Form Group (organization name)
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start Bootstrap">
                            </div>
                            Form Group (location)
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Location</label>
                                <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
                            </div>
                        </div> -->
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Change your email address (currently {{current_user.email}})</label>
                            {{form.email(class='form-control')}}
                        </div>
                        <!-- Form Row-->
                        <!-- <div class="row gx-3 mb-3">
                            Form Group (phone number)-->
                             <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Change your password</label>
                                {{form.password(class='form-control')}}
                            </div>
                <!-- Form Group (birthday
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                            </div>
                        </div> -->
                        <!-- Save changes button-->
                        {{form.submit(class='btn btn-primary mt-2')}}
                    </form>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}